name: Bot Apuestas Scraper

on:
  schedule:
    - cron: '0 */2 * * *' # Cada 2 horas
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest # Esto ya incluye Chrome pre-instalado
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: pip install -r requirements.txt

      - name: Ejecutar Scraper
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          # Ya no necesitamos ODDS_API_KEY
        run: python main.py